/* -------------------- IMPORTED FONTS -------------------------------------- */
/* latin-ext */
@import url(https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap);

/*---------/* latin-ext */
@font-face {
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/habibi/v21/CSR-4zFWkuqcTTNyQxhfVOY.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/habibi/v21/CSR-4zFWkuqcTTNyTRhf.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/irishgrover/v23/buExpoi6YtLz2QW7LA4flVgv__RP.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*----------- CSS REST ---------------------------------------------------*/
nav a {
    text-decoration:none;
    display:block;
    text-align:right;
    background-color: #E75D02;
    font-size:1.5em;
    margin:10px;
    padding:10px;
    color: #ffffff
    
  }

  nav ul {
    display: flex;
    text-align: center;
    padding: 10px 20px;

  }
text {
    font-family: 'Habibi', sans-serif;
}

header {
    font-family: 'Irish Grover';
    background-color: #06A816;
    color:#ffffff; 
    width:100%;

}
.sub h4 {
    font-family: 'Habibi';
    background-color: #06A816;
}


h2 {
    font-family: 'Irish Grover';
    text-size: 1.75em;
}

h3, text {
    font-family: 'Habibi';
    text-size: 1.25em;
    background-color: #ffffff;
    color: #06A816;
    text-align:center;
    display:flex;

}

.top {
    text-decoration: none;
    top: 20px;
    padding: 10px;
    margin: 15px;
    float: right;
    background-color:#E75D02;
    position: sticky;
    border-radius: 5px;
    z-index: 10;

}

.contact {
    background-color: #06A816;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display:flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 100px;

}

.bottom {
    max-height: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 5px;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/