/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url(https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap);
/*-------- CSS REST ---------------------------------------------------*/
/*Header and Navigation Bar*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #06A816;
  color: white;
  width: 100%;
  height: 50px; /*Adjusts the header background */
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.sub {
  position: absolute; /* pushes the slogan tag to the left */  
  display: flex; /* allows for adjusting to screen size */
  grid-template-columns: repeat(3, 1fr);
  margin-left: -20px;
  width: 80%;

  font-size: small;
  margin-top: 25px; /* Distance from Title */
}

nav {
  display: flex;
  justify-content: flex-end; /* Move nav list to the right */
  width: 100%;
}

nav ul {
  display: flex; /* allows for adjusting to screen size */
  list-style: none;
  font-size: small;
  margin: 0; /* Remove bottom margin */
  padding: 0;
  flex-wrap: wrap;
  align-items: flex-start; /* Align items to the top */
  margin-top: -25px;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px; /* Adjusted margin to add gap between nav links */
  border: 2px solid;
  border-radius: 10px;
  border-color: #ffffff;
  width: auto; /* Adjust width to fit content */
  background-color: #E75D02;
  font-size: 1.5em;
  display: flex;
  justify-content: center; /* Align text inside box center */
  padding: 0 50px;
  margin-bottom: 0px;

}

nav a:hover {
  background-color: #ffffff;
  color: #E75D02;
}

/*------------------- Text Size and Font Family ----------------------------*/
h1, h2 {
  font-family: 'Irish Grover', sans-serif;
}

h1 {
  font-size: 2.5em;
  text-align: left;
  text-shadow: 2px 5px 1px rgba(0, 0, 0, 1.5); /*Add shadow effect to the Title */
  float: left;
  display: flex;
  height:150%;
  width: 100%;
  margin: -20px;
}

h2 {
  padding-top: 0;
  font-size: 1.75em;
  margin: 10px;
}

h3, text {
  font-size: 1.25em;
}

/* Body CSS */

p {
  display: grid;

}
/* -------------------- ROOT VARIABLES --------------------------------------- */

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

/*-------------------- MEDIA QUERY (medium) --------------------------------*/



}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/